* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  background: radial-gradient(rgb(36, 0, 0), black);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

h3{
  margin-top: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-image {
  aspect-ratio: 4 / 3; /* vagy 16 / 9 stb. */
  width: 100%;
  object-fit: cover;
}

.card {
  flex: 1 1 300px; 
  max-width: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 2rem;
  justify-content: space-between;

  a:hover {
    background-color: white;
    color: #031926;
    border: 0.1rem solid #031926;
  }
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card .text {
  padding: 16px;
  font-size: 18px;
  color: #333;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .card {
    flex: 1 1 1 100%; 
  }
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 0.8rem;
}

.button {
  background-color: #031926;
  color: white;
  border: 0.1rem solid #031926;
  border-radius: 10%;
  float: right;
  margin-top: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

header a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover{
  color: #ddd;
}

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../img/cayman2014.jpg");
  background-position: center;
  background-size: cover;

}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.homepage .content .text {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content a:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
}

#home {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0 0;
}

#cars > h2{
  margin: 3rem 8rem;
  font-size: 2.4rem;
  color: white;
}

#home > p {
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  padding: 20px 0;
}

footer p  {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
}

@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  #home > p {
    text-align: center;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  footer a {
    height: 0;
  }
}